<ion-header [translucent]="true" >
  <ion-toolbar>
    <ion-title>HOME</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="success">
  <strong>MARK JOSEPH O. FAJICULAY</strong>
</ion-content>

<ion-tabs style="z-index: 1;">
  <ion-tab-bar slot="bottom">
    <ion-tab-button>
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button>
      <ion-icon name="apps"></ion-icon>
      <ion-label>apps</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>